services:
  search-api:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    image: search-api
    container_name: search-api
    environment:
      - SEARCH_API_ENABLE_CSE=${SEARCH_API_ENABLE_CSE}
      - SEARCH_API_ENABLE_LDAP=${SEARCH_API_ENABLE_LDAP}
      - SEARCH_API_ENABLE_ADDRESS=${SEARCH_API_ENABLE_ADDRESS}
      - SEARCH_API_ENABLE_UNIT=${SEARCH_API_ENABLE_UNIT}
      - SEARCH_API_ENABLE_GRAPHSEARCH=${SEARCH_API_ENABLE_GRAPHSEARCH}
      - SEARCH_API_SESSION_SECRET=${SEARCH_API_SESSION_SECRET}
      - SEARCH_API_SEARCH_URL=${SEARCH_API_SEARCH_URL}
      - SEARCH_API_X_EPFL_INTERNAL=${SEARCH_API_X_EPFL_INTERNAL}
      - SEARCH_API_CSE_API_KEY=${SEARCH_API_CSE_API_KEY}
      - SEARCH_API_CSE_CX=${SEARCH_API_CSE_CX}
      - SEARCH_API_CADIDB_HOST=${SEARCH_API_CADIDB_HOST}
      - SEARCH_API_CADIDB_PORT=${SEARCH_API_CADIDB_PORT}
      - SEARCH_API_CADIDB_DATABASE=${SEARCH_API_CADIDB_DATABASE}
      - SEARCH_API_CADIDB_USER=${SEARCH_API_CADIDB_USER}
      - SEARCH_API_CADIDB_PASSWORD=${SEARCH_API_CADIDB_PASSWORD}
      - SEARCH_API_LDAP_URL=${SEARCH_API_LDAP_URL}
      - SEARCH_API_LDAP_ROOTS_FILTER=${SEARCH_API_LDAP_ROOTS_FILTER}
      - SEARCH_API_MD_BASE_URL=${SEARCH_API_MD_BASE_URL}
      - SEARCH_API_MD_USER=${SEARCH_API_MD_USER}
      - SEARCH_API_MD_PASSWORD=${SEARCH_API_MD_PASSWORD}
      - SEARCH_API_ELASTIC_SEARCH_URL=${SEARCH_API_ELASTIC_SEARCH_URL}
      - SEARCH_API_ELASTIC_RO_USERNAME=${SEARCH_API_ELASTIC_RO_USERNAME}
      - SEARCH_API_ELASTIC_RO_PASSWORD=${SEARCH_API_ELASTIC_RO_PASSWORD}
      - SEARCH_API_OIDC_TENANT_ID=${SEARCH_API_OIDC_TENANT_ID}
      - SEARCH_API_OIDC_RP_CLIENT_ID=${SEARCH_API_OIDC_RP_CLIENT_ID}
      - SEARCH_API_OIDC_RP_CLIENT_SECRET=${SEARCH_API_OIDC_RP_CLIENT_SECRET}
      - SEARCH_API_OIDC_REDIRECT_URI=${SEARCH_API_OIDC_REDIRECT_URI}
    ports:
      - '5555:5555'
      - '5556:5556'
